<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <blockquote class="quotes-slider__text text-center">
              
              <span class="quote-icon">{% include 'icon-quote' %}</span>

              {% if block.settings.quote != blank %}
                <div class="rte-setting">{{ block.settings.quote }}</div>
              {% endif %}
              <!--    adding in logo slot            -->
              {% if block.settings.image != blank %}
				<div class="text-align-center"><img class="quote-logo" src="{{block.settings.image | img_url: '80x80' }}" style="display:inline" ></div>
				{% endif %}
              {% if block.settings.author != blank %}
               <cite><a href="{{ block.settings.authorurl }}">{{ block.settings.author | escape }}</a></cite> 
              {% endif %}
            </blockquote>
            <!--    Adding button html from hero.liquid          -->
            
            
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
        	<div class="text-align-center">
            <a href="{{ block.settings.button_link }}" class="btn hero__btn">
          {{ block.settings.button_label | escape }}
        </a>
            </div>
      {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
			{
            "type": "text",
            "id": "authorurl",
            "label": "Author Link (full url)",
            "default": "www.authorlink.com"
          },
		{	
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Small logo"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
